<nav role="navigation" id="leftNavigation">
    
    <a href="/desktop/collaborative-playlists" class="playlist">
        <span>Jam with friends</span>
    </a>

    <a href="/desktop/twitter-charts" class="tweet">
        <span>Tweet 2 Jam</span>
    </a>

    <a href="/desktop/quiz-games" class="games">
        <span>Games</span>
    </a>

    <a href="/desktop/remote-control" class="remote">
        <span>Remote control</span>
    </a>
    
</nav>