<form>
  <div class="input-group input-group-lg js-chat-message-form">
    <input type="text" class="form-control js-chat-message" placeholder="Chat ... say something ;)" name="chatMessage" required>
    <span class="input-group-btn">
      <button class="btn btn-info btn-default" type="submit">
        <span class="fa fa-comment"></span>
      </button>
    </span>
  </div>
</form>
