
.connect {
    
    // http://css-tricks.com/centering-in-the-unknown/
    width: 100%;
    height: 100%;
    text-align: center;
    
    &:before {
        content: '';
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        margin-right: -0.25em; /* Adjusts for spacing */
    }

    .connectCore {
        
        position: relative;
        z-index: $connectZIndex;
        width: 500px;
        background-color: $color-connectCore;
        padding: 25px;
        border-radius: 6px;
        color: #fff;
        display: inline-block;
        
        legend {
            border-bottom: 0px;
            color: $color-highlight;
        }

        iframe.jamendo {
            border: 0px;
            width: 450px;
            height: 350px;
            overflow: hidden;
            margin: auto;
        }
        
    }
    
    .backgroundVideo {
        z-index: $backgroundVideoZIndex;
        position: fixed;
        top: 0px;
        left: 0px;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
    }
    
}