body {
    display: block;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#logo {
    position: absolute;
    top: -300px;
}

.partial, .slide {
    width: 100%;
    box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3);
    position: relative;
    top: 0px;
    left: 0px;
}

#community {
    height: 700px;
    top: 0px;
    background-color: rgba(142, 68, 173,1.0);
}

#featured {
    height: 600px;
    background-color: rgba(39, 174, 96,1.0);
}

#charts {
    height: 800px;
    background-color: rgba(241, 196, 15,1.0);
}

#radios {
    height: 700px;
    background-color: rgba(41, 128, 185,1.0);
}

#playlists {
    height: 800px;
    background-color: rgba(243, 156, 18,1.0);
}

#social {
    height: 600px;
    background-color: pink;
}

.slide {
    background-attachment: fixed;
	height: 400px;
    font-family: 'Ropa Sans', sans-serif;
}

.slide .text {
    margin: auto;
	padding: 40px;
	width: 960px;
}

.slide span {
    padding: 20px;
	margin: 10px;
	color: white;
	display: inline-block;
	background-color: rgba(0,0,0,0.7);
	font-size: 200%;
}

#slide1 {
    background-image: url('../images/slide1.jpg');
}

#slide1 .text {
    position:absolute;
    left: -1000px;
}

#slide2 {
    background-image: url('../images/slide2.jpg');
    height: 690px !important;
}

#slide3 {
    background-image: url('../images/slide3.jpg');
}

#slide3 .text {
    position:absolute;
    right: -1000px;
}


#slide4 {
    background-image: url('../images/slide4.jpg');
}

#slide5 {
    background-image: url('../images/slide5.jpg');
}

#slide5 .text {
    position:absolute;
    left: -1000px;
}

#player {


}

nav#parallax {
    position: absolute;
    z-index:1;
    top:20px;
    color: white;
}

nav#top {


}

nav#user {


}

header {


}

footer {


}