body {
    display: block;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
}

.partial, .slide {
    width: 100%;
    box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3);
    position: relative;
    top: 0px;
    left: 0px;
}

#community {
    height: 700px;
    top: 100px;
    background-color: red;
}

#featured {
    height: 600px;
    background-color: green;
}

#charts {
    height: 800px;
    background-color: yellow;
}

#radios {
    height: 700px;
    background-color: blue;
}

#playlists {
    height: 800px;
    background-color: orange;
}

#social {
    height: 600px;
    background-color: pink;
}

.slide {
    background-attachment: fixed;
	height: 400px;
}

.slide .text {
    margin: auto;
	padding: 40px;
	width: 960px;
}

.slide span {
    padding: 20px;
	margin: 10px;
	color: white;
	display: inline-block;
	background-color: rgba(0,0,0,0.5);
	font-size: 200%;
}

#slide1 {
    background-image: url('../images/slide1.png');
}

#slide2 {
    background-image: url('../images/slide2.png');
}

#slide3 {
    background-image: url('../images/slide3.png');
}

#slide4 {
    background-image: url('../images/slide4.png');
}

#slide5 {
    background-image: url('../images/slide5.png');
}

#player {


}

nav#parallax {
    position:fixed;
    z-index:1;
    top:20px;
    color: white;
}

nav#top {


}

nav#user {


}

header {


}

footer {


}

