lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

Thums.db
desktop.ini

node_modules
pids
results
nbproject

configuration*.js

tracks/

prototypes/drag_n_drop_player/javascripts/vendor/SoundManager2/
prototypes/soundmanager2/javascripts/vendor/SoundManager2/
prototypes/soundmanager2/javascripts/vendor/jquery/
