lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
results

# windows stuff
Thumbs.db
desktop.ini
.DS_Store

# netbeans meta data
/nbproject

# sass cache directory
.sass-cache

# log files and directories
npm-debug.log

# vendor modules
/node_modules
/bower_components
/yeoman

# configuration
configuration.js

# the build directories
/client/desktop_build
/client/mobile_build
/client/tablet_build

# build files
templates.js
desktop.html
_fonts-paths.scss

# visual studio
visualstudio/project