<div class="collaborativePlaylistsPage">
    
  <h1 class="title">Jam with Friends</h1>

  <div class="js-newCollaborativePlaylist hidden">
    <button class="js-newCollaborativePlaylist-button">Create a new collaborative playlist</button>
  </div>

  <div class="js-listCollaborativePlaylists hidden">
    <button class="js-listCollaborativePlaylists-button">Create a new collaborative playlist</button>
  </div>

  <div id="createCollaborativePlaylist"></div>

  <div id="collaborativePlaylistsList"></div>

  <div id="collaborativePlaylistInterface">
    <div id="collaborativePlaylistUrlShare"></div>
    <div id="collaborativePlaylistSearchForm"></div>
    <div id="collaborativePlaylistSearchResults"></div>
    <div id="collaborativePlaylistTracksList"></div>
    <div id="collaborativePlaylistChatMessagesList"></div>
    <div id="collaborativePlaylistChatMessageForm"></div>
  </div>
    
</div>