<div class="collaborativePlaylistsPage">
    
  <h1 class="title">Jam with Friends</h1>
    
  <button class="newCollaborativePlaylist">Create a new collaborative playlist</button>

  <div id="createCollaborativePlaylist"></div>

  <div id="collaborativePlaylistsList"></div>

  <div id="collaborativePlaylistInterface">
    <div id="collaborativePlaylistSearchForm"></div>
    <div id="collaborativePlaylistSearchResults"></div>
    <div id="collaborativePlaylistTracksList"></div>
    <div id="collaborativePlaylistChatMessagesList"></div>
    <div id="collaborativePlaylistChatMessageForm"></div>
  </div>
    
</div>