<div class="loginPage">
    
    <div class="loginCore t">
        
        <div class="tr">
            <div class="td">

                <fieldset class="login">
                    <legend class="h1">Login with your jamendo account:</legend>
                    <div class="btn btn-lg btn-empty" id="loginButton">
                        <span>Jamendo connect</span>
                        <iframe src="" class="jamendo hidden" scrolling="no" frameBorder="0"></iframe>
                    </div>
                </fieldset>
                
                <h1 class="h2 joinTitle">Join the wolrdwide biggest community of free music lovers and indie artists</h1>

                <ul class="joinFeatures">
                    <li>Collaborate with others in realtime to build great playlists</li>
                    <li>Share your favorite tracks with your friends</li>
                    <li>Discover trending albums from amazing indie artist</li>
                    <li>Remote control music with your phone or tablet</li>
                    <li>Play music games and beat the highscore</li>
                </ul>
                
            </div>
        </div>
        
    </div>
    
</div>