<div class="loginPage">
    
    <div class="loginCore"
          data-0="background-color: rgba(255, 0, 90, 0.6);"
          data-1900="background-color: rgba(255, 0, 91, 0.6);">
        
        <div id="scene1" class="scene"
              data-0="opacity: 1; top: 0%;"
              data-300="opacity: 0; top: 100%;">
            
            <div class="t">
                <div class="tr">
                    <div class="td">
                        
                        <h1>Free MUSIC zone. No Ads. No monthly fees. No bullshit.</h1>
                        
                        <fieldset class="login">
                            <legend class="h2">Login with your jamendo account:</legend>
                            <div class="btn btn-lg btn-empty red loginButton">
                                <span>Jamendo connect</span>
                                <iframe src="" class="jamendo hidden" scrolling="no" frameBorder="0"></iframe>
                            </div>
                            <div class="loginBottom">
                                <div class="loginBottomLeft">
                                    <a href="https://www.jamendo.com/">Create an account</a>
                                </div>
                                <div class="loginBottomRight">
                                    <a href="https://www.jamendo.com/login/forgot">Lost your password</a>
                                </div>
                            </div>
                        </fieldset>

                        <div class="iconDownContainer">
                            <i class="fa fa-angle-down"></i>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div id="scene2" class="scene"
              data-300="opacity: 0; top: 100%;"
              data-600="opacity: 1; top: 0%;"
              data-900="opacity: 1; top: 0%;"
              data-1200="opacity: 0; top: 100%;">
            
            <div class="t">
                <div class="tr">
                    <div class="td">

                        <h1>It's not just about great music, you will also:</h1>

                        <ul class="joinFeatures">
                            <li>Collaborate with others in realtime to build great playlists</li>
                            <li>Share your favorite tracks with your friends</li>
                            <li>Discover trending albums from amazing indie artist</li>
                            <li>Remote control music with your phone or tablet</li>
                            <li>Play music games and beat the highscore</li>
                        </ul>
                        
                        <fieldset class="login">
                            <div class="btn btn-lg btn-empty red loginButton">
                                <span>Jamendo connect</span>
                                <iframe src="" class="jamendo hidden" scrolling="no" frameBorder="0"></iframe>
                            </div>
                            <div class="loginBottom">
                                <div class="loginBottomLeft">
                                    <a href="https://www.jamendo.com/">Create an account</a>
                                </div>
                                <div class="loginBottomRight">
                                    <a href="https://www.jamendo.com/login/forgot">Lost your password</a>
                                </div>
                            </div>
                        </fieldset>
                        
                        <div class="iconDownContainer">
                            <i class="fa fa-angle-down"></i>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div id="scene3" class="scene"
              data-1200="opacity: 0; top: 100%;"
              data-1500="opacity: 1; top: 0%;">
            
            <div class="t">
                <div class="tr">
                    <div class="td">
                        
                        <h1>I give up... oh wait we also have pictures of cute cats inside!</h1>
                        
                        <img src="/desktop/client/desktop_build/images/0.0.1/login-page/cute-cat.png">
                        
                        <fieldset class="login">
                            <div class="btn btn-lg btn-empty red loginButton">
                                <span>Jamendo connect</span>
                                <iframe src="" class="jamendo hidden" scrolling="no" frameBorder="0"></iframe>
                            </div>
                            <div class="loginBottom">
                                <div class="loginBottomLeft">
                                    <a href="https://www.jamendo.com/">Create an account</a>
                                </div>
                                <div class="loginBottomRight">
                                    <a href="https://www.jamendo.com/login/forgot">Lost your password</a>
                                </div>
                            </div>
                        </fieldset>
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
</div>