<table class="table table-hover">
    <thead>
        <tr>
            <th>Position</th>
            <th><!-- image --></th>
            <th>Track title and artist name</th>
            <th class="col-md-2">Actions</th>
        </tr>
    </thead>
    <tbody class="tracksList"></tbody>
</table>