<nav class="navbar navbar-default" role="navigation" id="header_navigation">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-3 col-sm-3">

                <a class="navbar-brand" href="#">Brand</a>

                <button type="button" class="btn btn-default navbar-btn" id="left_navigation_button">
                    <i class="fa fa-bars"></i>
                    <span class="caret"></span>
                </button>

            </div>
            <div class="col-md-3 col-sm-3">
                Player
            </div>
            <div class="col-md-3 col-sm-3">

                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-md-3 col-sm-3">
                <div class="navbar-right">

                    <button type="button" class="btn btn-default navbar-btn">
                        <i class="fa fa-user"></i>
                    </button>
                    
                    <button type="button" class="btn btn-default navbar-btn">
                        <i class="fa fa-cog"></i>
                    </button>
                    
                </div>
            </div>
        </div>

    </div>
</nav>