<div class="connect">
    
    <div class="connectCore t">
    
        <div class="tr">
            <div class="td">

                <fieldset class="login">
                    <legend class="h1">Login with your jamendo account:</legend>
                    <div class="btn btn-lg btn-empty" id="loginButton">
                        <span>Jamendo connect</span>
                        <iframe src="" class="jamendo hidden" scrolling="no" frameBorder="0"></iframe>
                    </div>
                </fieldset>

            </div>
        </div>
        
    </div>
    
</div>