<section class="connect">
    
    <form class="login">
      <fieldset>
        <legend>Login with your jamendo account</legend>
        <button type="submit" class="btn btn-default">Login</button>
      </fieldset>
    </form>

    <span class="loading">Loading ...</span>
    
    <iframe src="" class="jamendo" scrolling="no"></iframe>
    
</section>

