<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <button type="button" class="btn btn-default navbar-btn">
            <i class="fa fa-bars"></i>
            <span class="caret"></span>
        </button>

        <a class="navbar-brand" href="#">Brand</a>



        <button type="button" class="btn btn-default navbar-btn navbar-right">
            <i class="fa fa-cog"></i>
        </button>

        <button type="button" class="btn btn-default navbar-btn navbar-right">
            <i class="fa fa-user"></i>
        </button>

        <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </form>

    </div>
</nav>