<nav role="navigation" id="right_navigation">
    
    <a href="/collaborative-playlists" class="playlist">
        <i class="fa fa-list"></i>
    </a>

    <a href="/twitter-charts" class="tweet">
        <i class="fa fa-twitter"></i>
    </a>

    <a href="/quiz-games" class="quiz">
        <i class="fa fa-gamepad"></i>
    </a>

    <a href="/remote-control" class="remote">
        <i class="fa fa-caret-square-o-right"></i>
    </a>
    
</nav>