<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>jamtweets</title>

    <!-- styles -->
    <link href="stylesheets/bootstrap-2.3.1.css" rel="stylesheet">

  </head>
  <body>
    <%- body %>
  </body>
</html>