<nav role="navigation" id="leftNavigation">
    
    <a href="/desktop/collaborative-playlists" class="playlist">
        <i class="fa fa-list"></i>
    </a>

    <a href="/desktop/twitter-charts" class="tweet">
        <i class="fa fa-twitter"></i>
    </a>

    <a href="/desktop/quiz-games" class="quiz">
        <i class="fa fa-gamepad"></i>
    </a>

    <a href="/desktop/remote-control" class="remote">
        <i class="fa fa-caret-square-o-right"></i>
    </a>
    
</nav>