<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>404</title>

        <meta content="/desktop/client/desktop_development/images/freeMusic_zone_favicon_128.png" itemprop="image">
        <link rel="shortcut icon" href="/desktop/client/desktop_development/favicon.ico">
        
        <link rel="stylesheet" href="/desktop/client/desktop_build/stylesheets/main.css">

    </head>
    <body>
        
        <%= message %>
        
    </body>
</html>