<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>5xx</title>

        <meta content="/client/desktop_development/images/freeMusic_zone_favicon_128.png" itemprop="image">
        <link rel="shortcut icon" href="/client/desktop_development/favicon.ico">
        
        <link rel="stylesheet" href="/client/desktop_build/stylesheets/main.css">

    </head>
    <body>
        
        <%= message %>

        <% if (environment === 'development') { %>
        
            <%= stack %>
            
        <% } %>
        
    </body>
</html>