<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>

        <meta charset="utf-8">
        <title></title>

        <meta content="/desktop/client/desktop_development/images/playlist_guru_favicon_128.png" itemprop="image">
        <link rel="shortcut icon" href="/desktop/client/desktop_development/favicon.ico">
        
        <link rel="stylesheet" href="/desktop/client/desktop_build/stylesheets/main.css">
        <script data-main="/desktop/client/desktop_development/scripts/main" src="/desktop/bower_components/requirejs/require.js"></script>

    </head>
    <body></body>
</html>