<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>

        <meta content="/desktop/client/desktop_development/images/playlist_guru_favicon_128.png" itemprop="image">
        <link rel="shortcut icon" href="/desktop/client/desktop_development/favicon.ico">
        
        <link rel="stylesheet" href="/desktop/client/desktop_build/stylesheets/main.css">
        <script data-main="/desktop/client/desktop_development/scripts/main" src="/desktop/bower_components/requirejs/require.js"></script>
        
        <script>window._environment = 'development';</script>

    </head>
    <body>
        
        <noscript>
            For full functionality of this site it is necessary to enable JavaScript.
            Here are the <a href="http://www.enable-javascript.com/" target="_blank">
            instructions how to enable JavaScript in your web browser</a>.
        </noscript>
        
    </body>
</html>