<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>5xx</title>

        <meta content="/desktop/client/desktop_development/images/freeMusic_zone_favicon_128.png" itemprop="image">
        <link rel="shortcut icon" href="/desktop/client/desktop_development/favicon.ico">
        
        <link rel="stylesheet" href="/desktop/client/desktop_build/stylesheets/main.css">

        <script>
            
            // this is important, this page will get called inside of the
            // iframe on successfull oauth connect, but we need to inform
            // the app outside of the iframe that the oauth process has
            // come to an end so that the app can load the next screen
            window.onload = function() {
 
                parent.connected();
                
            };
        </script>
        
    </head>
    <body>
        
        <%= message %>
        
    </body>
</html>