//*****************
// LOGIN PAGE VIEW
//*****************

.loginPage {
    
    width: 100%;
    height: 100%;
    margin-top: 0px !important;
    padding: 0px !important;
    
    .loginCore {

        position: fixed;
        z-index: $connectZIndex;
        width: 100%;
        height: 100%;
        text-align: center;
        color: $font-color-for-darkest-background;
        background-color: $color-connect-background-red;
        
        a {
            color: $font-color-for-darkest-background;
        }
        
        .tagLine {
            
            .tagLineLeft, .tagLineRight {
                position: absolute;
                top: 30%;
            }
            
            .tagLineLeft {
                margin-left: -506px;
            }
            
            .tagLineRight {
                margin-right: -670px;
            }
            
        }
        
        .callToAction {
            
        }
        
        .scene {
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 0;
        }
        
        .login-brand {
            position: absolute;
            left: 10%;
            font: {
                size: 40px;
            }
            padding: 15px;
            background-color: rgba(0,0,0,0.1);
            border-radius: 15px;
        }
        
        .loginButton {
            margin-bottom: 15px;
            width: 260px;
        }
        
        .loginBottom {

            .loginBottomRight, .loginBottomLeft {
                display: inline-block;
                height: 20px;
            }
            
            .loginBottomLeft {
                border-right: 1px solid $font-color-for-darkest-background;
                padding-right: 15px;
            }
            
            .loginBottomRight {
                padding-left: 15px;
            }
            
            a {
                line-height: 1;
                vertical-align: text-top;
            }
            
        }
        
        .featuresTitle {
            position: absolute;
            top: 5%;
            left: 50%;
            margin-left: -422px;
        }
        
        .featuresList {
            position: absolute;
            top: 20%;
            left: 50%;
            margin-left: -192px;
        }
        
        .musicIcon {
            position: absolute;
        }
        
        .t {
            
            height: 100%;
            
            .td {
                vertical-align: middle;
                width: 100%;
                height: 100%;
                padding: $space-large;
            }
            
        }
        
        legend {
            text-align: center;
            color: $font-color-for-darkest-background;
            border-bottom: 0px;
            margin-bottom: $space-large;
        }

        .btn-empty {
            
            background-color: transparent;
            border-color: $font-color-for-darkest-background;
            color: $font-color-for-darkest-background;

            &.red {
                
                &:hover,
                &:focus,
                &.focus {
                    background-color: $color-connect-background-red;
                }
                
            }
            
            &.green {
                
                &:hover,
                &:focus,
                &.focus {
                    background-color: $color-connect-background-green;
                }
                
            }
            
            &.blue {
                
                &:hover,
                &:focus,
                &.focus {
                    background-color: $color-connect-background-blue;
                }
                
            }
            
        }

        iframe.jamendo {
            border: 0px;
            width: 450px;
            height: 400px;
            overflow: hidden;
            margin: auto;
        }
        
        .joinTitle {
            margin-top: $space-extra-large;
        }
        
        ul {
            list-style-type: none;
        }
        
        .iconDownContainer {
            
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -32px;
            
            i {
                
                font-size: 100px;
                cursor: pointer;
                opacity: 0.7;
                
                &:hover {
                    opacity: 1;
                }
                
            }
            
        }
        
    }
    
    .videoContainer {
        
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: fixed;
        right: 0;
        top: 0;
        z-index: $backgroundVideoZIndex;
        
        .backgroundVideo {
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            width: 100% !important;
            height: auto !important;
        }
        
        // special media query for videos with 16/9 ratio, if you change the video
        // ensure it has an aspect ratio of 16/9, if has another ratio, for example
        // 16/10 then edit the media query below accordingly
        @media (max-aspect-ratio: 16/9) {
            .backgroundVideo {
                width: auto !important;
                height: 100% !important;
            }
        }
        
    }

}