<form>
  <div class="input-group input-group-lg js-collaborativePlaylist-create-form">
    <input type="text" class="form-control js-collaborativePlaylist-name" placeholder="Playlist Name" name="collaborativePlaylistTitle" required>
      <span class="input-group-btn">
        <button class="btn btn-info btn-default" type="submit">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </span>
    </div>
</form>
