<div id="wrapperOfUnsupported">

    Your browser does not support "<%= feature %>", which is a feature this app needs. All modern browsers support this feature.

    <a href="https://whatbrowser.org/">Please upgrade your browser</a>

</div>