<nav class="navbar navbar-default" role="navigation" id="header_navigation">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-3 col-sm-3 navbar-left">
                
                <button type="button" class="btn navbar-btn btn-sm" id="leftNavigationButton">
                    <i class="fa fa-bars"></i>
                    <span>MENU</span>
                </button>
                
                <div class="seperatorVertical"></div>
                
                <a class="brand navbar-brand" href="/desktop">
                    <span class="brandFree">free</span><span class="brandMusic">MUSIC</span><span class="brandZone">.zone</span>
                </a>

            </div>
            <div class="col-md-3 col-sm-3">
                
            </div>
            <div class="col-md-3 col-sm-3">

                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control input-sm" placeholder="Search">
                            <span class="input-group-btn">
                                <button class="btn btn-sm" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-md-3 col-sm-3 navbar-right">

                <span class="username"><%= username ></span>
                
                <button type="button" class="btn navbar-btn btn-sm">
                    <i class="fa fa-user"></i>
                </button>

                <button type="button" class="btn navbar-btn btn-sm">
                    <i class="fa fa-cog"></i>
                </button>

            </div>
        </div>

    </div>
</nav>