<div id="container">
    <div id="left">
        <aside id="left_aside"></aside>
    </div>
    <div id="center">
        <header id="header"></header>
        <section id="main"></section>
        <footer id="footer"></footer>
    </div>
</div>