
Search: <input ng-model="playlistsQuery">
Sort by:
<select ng-model="playlistsOrder">
    <option value="name">Alphabetical</option>
    <option value="data">Newest</option>
    <option value="listenings">Most Listened</option>
</select>

<ul class="playlists">
    <li ng-repeat="playlist in playlists | filter:search_query | orderBy:playlistsOrder" class="row">
        <a href="#/playlists/{{playlist.id}}" class="left thumb"><img ng-src="{{playlist.imageUrl}}"></a>
        <a href="#/playlist/{{playlist.id}}" class="right title">{{playlist.title}}</a>
    </li>
</ul>