//*******
// ICONS
//*******

.icon {
    
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    height: 30px;
    width: 30px;
    border: 0px;
    background-color: $color-background-dark;
    color: $font-color-for-dark-background;
    
    &:hover {
        background-color: $color-highlight;
    }
    
    &:focus {
        outline: 0;
    }
    
    &.active {
        background-color: $color-highlight;
    }
    
    &.dashed {
        border: 2px dashed;
    }

    &.double {
        border: 2px double;
    }

    &.dotted {
        border: 2px dotted;
    }
    
    &.facebook {
        
    }
    
    &.googleplus {
        
    }
    
    &.twitter {
        
    }
    
    &.play {
        
    }
    
}
