//****************
// LEFT NAVIGATION
//****************

#leftNavigation {

    width: 300px;
    height: 100%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: translate3d(-100%, 0, 0) rotateY(-90deg);
    transform: translate3d(-100%, 0, 0) rotateY(-90deg);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin-top: 55px;
    padding-bottom: 55px;

    a {

        display: table;
        margin: 0px;
        padding: 0px;
        height: 25%;
        width: 100%;
        background-color: $color-background-dark;
        color: $font-color-for-dark-background;
        
        &:focus, &:hover {
            text-decoration: none;
            outline: 0;
            color: $color-highlight;
        }

        span {
            z-index: 2;
            display: table-cell;
            vertical-align: middle;
            padding-left: 30px;
            font-size: 36px;
            font-weight: 800;
            position: relative;
            opacity: 1;
            font-weight: 500;
        }
        
        &:after {
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            position: absolute;
            font-size: 100px;
            color: $color-background-light;
            left: 0;
            z-index: 1;
            opacity: 0.1;
            
            // Safari
            -webkit-transform: rotate(-35deg);
            
            // Firefox
            -moz-transform: rotate(-35deg);
            
            // IE
            -ms-transform: rotate(-35deg);
            
            // Opera
            -o-transform: rotate(-35deg);
        }
        
        &.playlist {
            
            &:after {
                content: $fa-var-list;
            }
            
        }

        &.tweet {

            &:after {
                content: $fa-var-twitter;
            }
            
        }

        &.games {

            &:after {
                content: $fa-var-gamepad;
            }
            
        }

        &.remote {

            &:after {
                content: $fa-var-caret-square-o-right;
            }
            
        }

    }
    
}

.open {
    
    #leftNavigation {
        visibility: visible;
        -webkit-transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
        -webkit-transform: translate3d(-100%, 0, 0) rotateY(0deg);
        transform: translate3d(-100%, 0, 0) rotateY(0deg);
    }

    #leftNavigation:after {
        width: 0;
        height: 0;
        opacity: 0;
        -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
        transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    }
    
    #main {
        padding-left: 300px;
    }
    
    .navigationPusher {
        -webkit-transform: translate3d(300px, 0, 0);
        transform: translate3d(300px, 0, 0);
    }
    
}

.navigationPusher {
    width: 0px;
    position: relative;
    height: 100%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}