//****************
// LEFT NAVIGATION
//****************

#leftNavigation {

    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    visibility: hidden;
    width: 300px;
    height: 100%;
    background: #48a770;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: translate3d(-100%, 0, 0) rotateY(-90deg);
    transform: translate3d(-100%, 0, 0) rotateY(-90deg);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

    &:after {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.2);
        content: '';
        opacity: 1;
        -webkit-transition: opacity 0.5s;
        transition: opacity 0.5s;
    }

    a {

        vertical-align: middle;
        text-align: center;
        display: block;
        margin: 0px;
        padding: 0px;
        height: 25%;
        font-size: 50px;

        &:hover {
            text-decoration: none;
            color: white;
        }

        &.active {

            span {
                text-decoration: none !important;
                color: white !important;
            }

        }

    }

    .playlist {
        color: rgb(41, 128, 185);
        background-color: rgb(52, 152, 219);
    }

    .tweet {
        color: rgb(39, 174, 96);
        background-color: rgb(46, 204, 113);
    }

    .quiz {
        color: rgb(243, 156, 18);
        background-color: rgb(241, 196, 15);
    }

    .remote {
        color: rgb(192, 57, 43);
        background-color: rgb(231, 76, 60);
    }
    
}

.open {
    
    #leftNavigation {
        visibility: visible;
        -webkit-transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
        -webkit-transform: translate3d(-100%, 0, 0) rotateY(0deg);
        transform: translate3d(-100%, 0, 0) rotateY(0deg);
    }

    #leftNavigation:after {
        width: 0;
        height: 0;
        opacity: 0;
        -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
        transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    }
    
}

#navigationPusher {
    
    position: relative;
    left: 0;
    z-index: 99;
    height: 100%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    
    &:after {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        background: rgba(0,0,0,0.2);
        content: '';
        opacity: 0;
        -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
        transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    }
    
    &.open {
        -webkit-transform: translate3d(300px, 0, 0);
        transform: translate3d(300px, 0, 0);
    }
    
    &.open:after {
        width: 100%;
        height: 100%;
        opacity: 1;
        -webkit-transition: opacity 0.5s;
        transition: opacity 0.5s;
    }
    
}