//****************
// SPLASH SCREEN
//****************

.splashScreen {
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: $splashScreenOverlayZIndex;
}

.progress {
    z-index: $progressZIndex;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 10px;
    background-color: transparent;
}

.progress[value] {
    // Set overall background
    background-color: transparent;

    // Set overall border radius
    @include border-radius(0);
}

// Unfilled portion of the bar
.progress[value]::-webkit-progress-bar {
  background-color: transparent;
}

base::-moz-progress-bar, // Absurd-but-syntactically-valid selector to make these styles Firefox-only
.progress[value] {
  background-color: transparent;
}

.progress-welcome {
  @include progress-variant($color-highlight);
}