<div class="input-group input-group-lg js-searchBar">
    <input type="text" class="form-control js-searchBar-input" placeholder="Search for tracks by name">
    <span class="input-group-btn">
        <button class="btn btn-info btn-default" type="button">
            <span class="fa fa-search"></span>
        </button>
    </span>
</div>