<div class="input-group input-group-lg search">
    <input type="text" class="form-control" placeholder="Search">
    <span class="input-group-btn">
        <button class="btn btn-info btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </span>
</div>