<!DOCTYPE html>
<html itemscope="itemscope" itemtype="http://schema.org/WebPage" lang="en" dir="ltr">
    <head>

        <meta charset="utf-8">
        <title>JamTweets</title>
        <base href="">
        <link rel="home" href="/index.html">
        
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="pragma" content="no-cache">

        <meta name="robots" content="index, follow, NOODP, NOYDIR">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="JamTweets">

        <link rel="canonical" href="https://www.jamtweets.com/index.html?language=en" />
        <link rel="alternate" hreflang="af" href="https://www.jamtweets.com/index.html?language=de" />
        <link rel="alternate" hreflang="af" href="https://www.jamtweets.com/index.html?language=fr" />

        <meta property="og:title" content="JamTweets" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="https://www.jamtweets.com/images/logo.png" />
        <meta property="og:site_name" content="JamTweets" />
        <meta property="og:url" content="https://www.jamtweets.com" />
        <meta property="og:description" content="JamTweets">
        <meta property="fb:app_id" content="1234567"/>

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:url" content="https://www.jamtweets.com" />
        <meta name="twitter:title" content="JamTweets" />
        <meta name="twitter:image" content="https://www.jamtweets.com" />
        <meta name="twitter:site" content="@jamtweets" />
        <meta name="twitter:creator" content="@jamtweets" />
        <meta name="twitter:description" content="JamTweets">

        <meta name="apple-itunes-app" content="app-id=myAppStoreID, affiliate-data=myAffiliateData, app-argument=myURL">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <link rel="apple-touch-startup-image" href="images/splash.png" />
        <link rel="apple-touch-icon" href="icon_57.png" /><!-- default 57 x 57 -->
        <link rel="apple-touch-icon" sizes="72x72" href="icon_72.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="icon_114.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="icon_144.png" />
        
        <meta name="application-name" content="JamTweets"/> 
        <meta name="msapplication-TileColor" content="#3e2743"/> 
        <meta name="msapplication-TileImage" content="/images/icon_144.png"/>
        <meta name="msapplication-tooltip" content="JamTweets" />

        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="stylesheet" href="/stylesheets/main-0.0.1.css">
        <script data-main="/javascripts/main-0.0.1" src="/javascripts/vendor/require-2.1.5.js"></script>

    </head>
    <body>