<div class="playerUI">
    <button class="btn navbar-btn btn-sm backward">
        <i class="fa fa-step-backward"></i>
    </button>
    <button class="btn navbar-btn btn-sm play">
        <i class="fa fa-play"></i>
    </button>
    <button class="btn navbar-btn btn-sm forward">
        <i class="fa fa-step-forward"></i>
    </button>
    <div class="playerProgress">
        <div class="progress-bar progress-bar-playing" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            <span class="sr-only"><span class="progressUnit">0</span>% Complete (success)</span>
        </div>
        <div class="progress-bar progress-bar-loading" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            <span class="sr-only"><span class="progressUnit">0</span>% Complete (warning)</span>
        </div>
    </div>
    <button class="btn navbar-btn btn-sm volume">
        <i class="fa fa-volume-up"></i>
    </button>
    <button class="btn navbar-btn btn-sm repeat">
        <i class="fa icon-loop"></i>
    </button>
</div>