//*****************
// MAIN CSS / THEME
//*****************

// CORE
html, body, #container {
    height: 100%;
    font-family: $font-family-sans-serif;
}

body {
    
    &.navigationEffect {
        -webkit-perspective: 1500px;
        perspective: 1500px;
        -webkit-perspective-origin: 0% 50%;
        perspective-origin: 0% 50%;
        overflow: hidden;
        padding-top: 55px;
    }
    
}

#pageContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

#main {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-left: 0;
    -webkit-transition: padding-left 0.5s;
    transition: padding-left 0.5s;
    z-index: $mainZIndex;
}

#left {
    position: absolute;
    height: 100%;
    left: 0;
    z-index: $asideLeftZIndex;
}

#right {
    position: absolute;
    height: 100%;
    right: 0;
    z-index: $asideRightZIndex;
}

#core {
    
    width: 100%;
    height: 100%;
    
    &.autoflow {
        overflow: auto;
    }
    
}

#header {
    position: fixed;
    width: 100%;
    z-index: $headerZIndex;
    top: 0;
}

#footer {
    width: 100%;
}

// tables
.t {
    
    display: table;
    width: 100%;
    
    .tr {
        
        display: table-row;

        .td {
            display: table-cell;
        }
        
    }
    
}

// seperators
.seperatorVertical {
    height: 100%;
    padding: 3px 0px;
    border-left: 1px solid $color-gray;
    width: 1px;
}

// webkit scrollbar
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: rgba(220, 220, 220, 0.7);
    border-left: 1px solid #ccc;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(180, 180, 180, 0.7);
}

::-webkit-scrollbar-thumb:hover {
    background-color: $color-highlight;
}

// the app logo
.brand {
    
    .brandFree {
        color: $font-color-for-darkest-background;
    }

    .brandMusic {
        color: $color-highlight;
    }

    .brandZone {
        color: $font-color-for-darkest-background;
    }

}