//*****************
// MAIN CSS / THEME
//*****************

// CORE
html, body, #container {
    height: 100%;
    width: 100%;
    font-family: $font-family-sans-serif;
}

body {
    
    -webkit-perspective: 1500px;
	perspective: 1500px;
	-webkit-perspective-origin: 0% 50%;
	perspective-origin: 0% 50%;
    
    &.noOverflow {
        overflow: hidden;
    }
    
}

#left {
    float: left;
    height: 100%;
}

#core {
    height: 100%;
    width: 100%;
}

#right {
    float: right;
    height: 100%;
}

#header {

}

#footer {

}

.t {
    
    display: table;
    width: 100%;
    
    .tr {
        
        display: table-row;

        .td {
            display: table-cell;
        }
        
    }
    
}