//****************
// VARIABLES
//****************

// basic colors
$color-gray: rgb(160, 160, 160);
$color-highlight: rgb(255, 0, 90);

// backgrounds colors
$color-background-darkest: rgb(34, 34, 34);
$color-background-dark: rgb(53, 53, 53);
$color-background-light: rgb(222, 222, 222);
$color-background-lightest: rgb(249, 249, 249);

// fonts colors
$font-color-for-darkest-background: rgb(249, 249, 249);
$font-color-for-dark-background: rgb(249, 249, 249);
$font-color-for-light-background: rgb(88, 88, 88);
$font-color-for-lightest-background: rgb(34, 34, 34);

// colors login/connect page
$color-connect-background-red: rgba(255, 0, 90, 0.6);
$color-connect-background-green: rgba(90, 255, 0, 0.6);
$color-connect-background-blue: rgba(0, 90, 255, 0.6);

// z-indexes
$mainZIndex: 1;
$asideLeftZIndex: 10;
$asideRightZIndex: 20;
$headerZIndex: 30;
$backgroundVideoZIndex: 40;
$connectZIndex: 60;
$scene1ZIndex: 80;
$scene2ZIndex: 70;
$scene3ZIndex: 60;
$splashScreenOverlayZIndex: 990;
$progressZIndex: 1000;

// ratio
$ratio: 1.61803398875;

// line height
$line-height-base: $ratio;

// font family
$font-family-sans-serif:  'Dosis', Arial, sans-serif;

// font sizes
$font-size-base: 16px;
$font-size-extra-large: ceil(($font-size-base * ($ratio * 2))); // 42px
$font-size-large: ceil(($font-size-base * $ratio)); // 26px
$font-size-small: ceil(($font-size-base / $ratio)); // 10px
$font-size-extra-small: floor(($font-size-base / ($ratio * 2))); // 6px

// spaces
$space-base: $font-size-base;
$space-extra-large: $font-size-extra-large;
$space-large: $font-size-large;
$space-small: $font-size-small;
$space-extra-small: $font-size-extra-small;

// headings font size
$font-size-h1: $font-size-extra-large;
$font-size-h2: $font-size-large;
$font-size-h3: $font-size-base;
$font-size-h4: $font-size-small;
$font-size-h5: $font-size-extra-small;