//****************
// VARIABLES
//****************

// quickly modify global styling by enabling or disabling optional features.
$enable-flex:               true;
$enable-rounded:            true;
$enable-shadows:            false;
$enable-gradients:          false;
$enable-transitions:        false;
$enable-hover-media-query:  false;
$enable-grid-classes:       true;
$enable-print-styles:       true;

// basic colors
$color-gray: rgb(160, 160, 160);
$color-highlight: rgb(255, 0, 90);

// backgrounds colors
$color-background-darkest: rgb(34, 34, 34);
$color-background-dark: rgb(53, 53, 53);
$color-background-light: rgb(222, 222, 222);
$color-background-lightest: rgb(249, 249, 249);

// fonts colors
$font-color-for-darkest-background: rgb(249, 249, 249);
$font-color-for-dark-background: rgb(249, 249, 249);
$font-color-for-light-background: rgb(88, 88, 88);
$font-color-for-lightest-background: rgb(34, 34, 34);

// colors login/connect page
$color-connect-background-red: rgba(255, 0, 90, 0.6);
$color-connect-background-green: rgba(90, 255, 0, 0.6);
$color-connect-background-blue: rgba(0, 90, 255, 0.6);

// z-indexes
$mainZIndex: 1;
$asideLeftZIndex: 10;
$asideRightZIndex: 20;
$headerZIndex: 30;
$backgroundVideoZIndex: 40;
$connectZIndex: 50;
$scene1ZIndex: 60;
$scene2ZIndex: 70;
$scene3ZIndex: 80;
$playerProgressLoadingZIndex: 90;
$playerProgressPlayingZIndex: 100;
$splashScreenOverlayZIndex: 990;
$progressZIndex: 1000;

// ratio
$ratio: 1.61803398875;

// font family
$font-family-sans-serif:  'Dosis', Arial, sans-serif;

// font sizes
$font-size-base: 1rem;