/*
 * playlist guru css bootstrap
 */

/* COLORS */
$White: rgb(255, 255, 255);
$DullLavender: rgb(182, 143, 229);
$MediumPurple: rgb(168, 119, 228);

/* CORE */
body {
    
}

#left {
    float: left;
    width: 10%;
    position: absolute;
    height: 100%;
}

#right {
    float: right;
    width: 90%;
    position: relative;
    height: 100%;
}

#left_aside {
    height: 100%;
}

/* BUTTONS */
.trackPreview {
    background-color: $DullLavender;
    box-shadow: 0 0 0 4px $DullLavender;
    color: $White;
}

.trackPreview:hover {
    background-color: $MediumPurple;
    box-shadow: 0 0 0 4px $MediumPurple;
}

/* ICONS */
.icon {
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.icon:focus {
    outline: 0;
}

.icon.dashed {
    border: 2px dashed;
}

.icon.double {
    border: 2px double;
}

.icon.dotted {
    border: 2px dotted;
}










nav {
    color: white;
    margin: 0px;
    padding: 0px;
}

nav#left_navigation {
    height: 100%;
    width: 100%;
}

nav#left_navigation a {
    vertical-align: middle;
    text-align: center;
    display: block;
    margin: 0px;
    padding: 0px;
    height: 25%;
    font-size: 50px;
}

nav#left_navigation a.active span {
    text-decoration: none !important;
    color: white !important;
}

nav#left_navigation a:hover {
    text-decoration: none;
    color: white;
}

nav#left_navigation .playlist {
    color: rgb(41, 128, 185);
    background-color: rgb(52, 152, 219);
}

nav#left_navigation .tweet {
    color: rgb(39, 174, 96);
    background-color: rgb(46, 204, 113);
}

nav#left_navigation .quiz {
    color: rgb(243, 156, 18);
    background-color: rgb(241, 196, 15);
}

nav#left_navigation .remote {
    color: rgb(192, 57, 43);
    background-color: rgb(231, 76, 60);
}