/*
 * freeMusic.zone css bootstrap
 */

/* CORE */
html, body, #container {
    height: 100%;
    width: 100%;
}

#left {
    float: left;
    height: 100%;
}

#core {
    height: 100%;
    width: 100%;
}

#right {
    float: right;
    height: 100%;
}

#header {

}

#footer {

}

/* BUTTONS */
.trackPreview {
    background-color: $color-highlight;
    box-shadow: 0 0 0 4px $color-highlight;
    color: $color-text-bright;
}

.trackPreview:hover {
    background-color: lighten($color-highlight, 10%);
    box-shadow: 0 0 0 4px lighten($color-highlight, 10%);
}

/* ICONS */
.icon {
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.icon:focus {
    outline: 0;
}

.icon.dashed {
    border: 2px dashed;
}

.icon.double {
    border: 2px double;
}

.icon.dotted {
    border: 2px dotted;
}