<table class="table table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th class="col-md-2">Actions</th>
        </tr>
    </thead>
    <tbody class="playlistsList"></tbody>
</table>