<tr data-fmz-playlistId="<%= id %>" class="playlistRow">
    
    <td class="playlistInformations">
        <%- jamendo_name %>
    </td>
    <td class="playlistActions">
        <button type="button" class="icon fa fa-chevron-down js-openPlaylist"></button>
    </td>
    
</tr>